.activities-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 20px;
    
}

.kid-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.activity-card{
    border: 2px solid black;
    padding: 10px;
}

.kid1-activities{
    color:blue;
}

.kid2-activities{
    color:purple;
}