a:visited {text-decoration: none; color: rgb(80, 62, 62); }
a:hover { text-decoration: none; color:teal; }

.navbar {
    background-image: url("./NavImg.png");
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    /* justify-content: left; */
    height: 175px;
    margin: 0;
}

.navbar__item {
    /* flex-basis: 20%; */
    list-style-type: none;

}

.navbar__link{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}

.navbar__logout {
    margin-left: auto;
    margin-right: 10px;;
}

.dashboard{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-evenly;
}